* {
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 100;
  max-width: 100%;
}

body {
  font-family: "poppins", sans serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  margin-bottom: -150px;
  align-items: center;
}

nav .right-menu {
  padding-right: 100px;
}

.right-menu ul li {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}

nav ul li a {
  text-decoration: none;
  color: #4a3e3e;
  font-weight: 600;
}

nav ul li a:hover {
  color: #7f8018;
}

/* HERO-SECTION*/
.hero-section {
  background-color: rgb(219, 215, 215);
  min-height: 250px;
  text-align: center;
  margin-bottom: -150px;
  padding-top: 200px;
}

.hero-section h1 {
  color: #4a3e3e;
  text-align: center;
  font-size: 40px;
  font-weight: 600px;
  line-height: 10px;
  word-spacing: 20px;
  margin-bottom: 50px;
}

.hero-section .hero-one {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: inline-flex;
  justify-content: space-between;
  gap: 30px;
}

.hero-section p {
  color: #4a3e3e;
  word-spacing: 10px;
  text-align: left;
  padding: 10px;
  font-size: 25px;
}

.btn-1 {
  background-color: rgb(74, 62, 62);
  width: 140px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  transition: 1s;
}

.btn-1 a {
  color: white;
  font-size: 14px;
}

.btn-1:hover {
  background-color: #a8bd54;
}

/*SECTION-ONE*/
.fruits-pic-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/*SECTION-TWO*/
.products {
  display: flex;
  justify-content: space-between;
  padding-top: 20px 20px;
  flex-direction: column;
}

.products .box .box-text h2 {
  color: #4a3e3e;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.products .box .box-text p {
  color: #4a3e3e;
  text-wrap: wrap;
  font-size: 16px;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: justify;
}

.products .btn {
  background-color: rgb(74, 62, 62);
  width: 200px;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  padding: 5px 20px;
}

.box {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.box-text {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.products .box:nth-child(1) {
  background-color: #cba502;
}

.products .box:nth-child(1) .btn:hover {
  background-color: #783761;
}

.products .comments {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 20px 20px;
  min-height: 100px;
  align-items: center;
}

.products .box:nth-child(2) {
  background-color: #a8bd54;
}

.products .box:nth-child(2) .btn:hover {
  background-color: #ac1e00;
}

.products .box:nth-child(3) {
  background-color: #b23f26;
}

.products .box:nth-child(3) .btn:hover {
  background-color: #767518;
}

.products .box:nth-child(4) {
  background-color: #b77fa6;
}

.products .box:nth-child(4) .btn:hover {
  background-color: #727114;
}

.products .box:nth-child(5) {
  background-color: #9ec6e0;
}

.products .box:nth-child(5) .btn:hover {
  background-color: #f7c642;
}

/* CONTACT-SECTION*/
.subscribe {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  gap: 10px;
}

.socials1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-right: 1px dotted black;
  width: 30%;
}
.socials1 h3 {
  font-size: 25px;
  text-align: left;
  color: #405f74;
  padding: 5px;
}

.socials1 .icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.socials2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px dotted black;
  width: 30%;
}

.socials2 h3 {
  font-size: 25px;
  text-align: left;
  color: #405f74;
  padding: 10px;
}

.socials2 p {
  color: #392215;
  font-size: 20px;
  font-weight: bold;
  gap: 50px;
  text-align: center;
}

.subscription {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}

form input {
  width: 440px;
  border: 1px solid black;
  padding: 10px 0;
  margin-bottom: 15px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  gap: 10px;
}

form button {
  padding: 0 20px;
  background-color: #392215;
  color: white;
  width: 440px;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
}

form button:hover {
  background-color: #b87fa6;
}

/* FOOTER-SECTION*/
footer .copy-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  height: 100px;
  background-color: #7d3e69;
}

footer p {
  color: white;
  font-size: 14px;
  padding: 30px;
  font-style: italic;
}

footer h4 {
  font-size: 20px;
}

footer h4 a {
  color: white;
}

@media (max-width: 400px) {
  /* NAVBAR*/
  nav {
    flex-direction: column;
    justify-content: center;
  }

  .right-menu ul li {
    padding-left: 100px;
  }

  /* HERO-SECTION*/
  .hero-section {
    margin-bottom: -100px;
  }
  .hero-section h1 {
    font-size: 20px;
  }

  .fruits-pic-1 {
    height: 250px;
  }

  .hero-section .hero-one {
    margin: 15px;
  }

  .hero-section p {
    padding: 10px;
    font-size: 20px;
  }

  .btn-1 {
    height: 50px;
    font-size: 12px;
  }

  /* PRODUCTS-SECTION*/
  .products .box:nth-child(1) {
    flex-direction: column;
    align-items: center;
  }

  .products .comments {
    min-height: 20px;
  }

  .products .box:nth-child(2) {
    flex-direction: column;
    align-items: center;
  }

  .products .box:nth-child(3) {
    flex-direction: column;
    align-items: center;
  }

  .products .box:nth-child(4) {
    flex-direction: column;
    align-items: center;
  }

  .products .box:nth-child(5) {
    flex-direction: column;
    align-items: center;
  }
  /* CONTACT-SECTION*/
  .subscribe {
    display: flex;
    flex-direction: column;
  }

  .socials1 {
    flex-direction: column;
    border-right: 0px;
    border-bottom: 1px dotted black;
    width: 100%;
  }

  .socials1 .icons {
    padding-bottom: 10px;
  }
  .socials1 h3 {
    font-size: 16px;
  }

  .socials2 {
    flex-direction: column;
    border-right: 0px;
    border-bottom: 1px dotted black;
    width: 100%;
    justify-content: center;
  }

  .socials2 h3 {
    font-size: 16px;
    text-align: center;
  }

  .socials2 p {
    font-size: 16px;
  }

  .subscription {
    padding: 0 10px;
    font-size: 12px;
    width: 100%;
  }

  /* FOOTER-SECTION*/
  footer .copy-info {
    align-items: center;
    gap: 50px;
    height: 75px;
    padding-right: 15px;
  }

  footer p {
    font-size: 12px;
  }

  footer h4 {
    font-size: 10px;
    text-align: center;
  }
}
